In [35]:
List1 = ['milk','cookies', (7.3), (5), (5+6j), ('2022-07-15'), ('1:00:45') ]
Sub_List1 = List1[0:4]
List2 = ["Chocolate", "peanut butter", "cheese"]
List3 = ['Chicken', 'turkey', 'pork']
# 
List1[0] = 'tofu'
List1[1] = 5.2
List1[2] = (7)
List1.append("vegtables")
List1.append("fruits")
# 
print(List1)
List2.extend(Sub_List1)
List2.sort(reverse=False)
print(List2)
List4 = List2.copy()
List4.sort(reverse=True)
print(List4)
List5 = List2 + List3
print(List5)
print()
# Forgot To print length
Length1 = len(List1)
print(Length1)
Simlist = [1,2,3,4,5]
print(Simlist)
List6 = (Simlist + List3)
print(List6)

['tofu', 5.2, 7, 5, (5+6j), '2022-07-15', '1:00:45', 'vegtables', 'fruits']

TypeError: '<' not supported between instances of 'float' and 'str'

In [34]:
#Tuples
Tuple1 = ('bill','jerry','johnny','jacob','stanley')
print(Tuple1)
#
Tuple2 = (Tuple1*3)
print('\n',Tuple2)
#
Tuple2[12]
print('\n',Tuple2[12])
#
print('\n',sorted(Tuple2))
#
Tuple3 =('molly', 'jessica', 'addison', 'sierra')
print('\n', Tuple3)
#
a, j, l, h = Tuple3 
print(a,j)
#
Tuple4 = (50)
print('\n', Tuple4)
#Yay
Tuple5 = (Tuple2 + Tuple3)
print('\n', Tuple5)

('bill', 'jerry', 'johnny', 'jacob', 'stanley')

 ('bill', 'jerry', 'johnny', 'jacob', 'stanley', 'bill', 'jerry', 'johnny', 'jacob', 'stanley', 'bill', 'jerry', 'johnny', 'jacob', 'stanley')

 johnny

 ['bill', 'bill', 'bill', 'jacob', 'jacob', 'jacob', 'jerry', 'jerry', 'jerry', 'johnny', 'johnny', 'johnny', 'stanley', 'stanley', 'stanley']

 ('molly', 'jessica', 'addison', 'sierra')
molly jessica

 50

 ('bill', 'jerry', 'johnny', 'jacob', 'stanley', 'bill', 'jerry', 'johnny', 'jacob', 'stanley', 'bill', 'jerry', 'johnny', 'jacob', 'stanley', 'molly', 'jessica', 'addison', 'sierra')

In [33]:
#Dictionary
Dictionary1={
    "name": "Stanley",
    "age": "28.8",
    "height": "74 inches",
    "Citizen": "True",
    "Race": "Black"}
print(Dictionary1)
#
print("\n",list(Dictionary1)[0]) 
#
Dictionary1.update({"Heritage": "American", "name": "Stanley"}) 
print("\n",Dictionary1)
#
Dictionary1.update({"color": "blue"})
print("\n",Dictionary1)
#
Dictionary1.update({"Favorites cars": ["Corvette","Escalade","lexus"],})
print("\n",Dictionary1)
#
print("\n",Dictionary1.keys()) 
#
print("\n",Dictionary1.values()) 
#
Dictionary2={}
    'name': 'Stanley', 
    'age': '28.8', 
    'height': '74 inches', 
    'Citizen': 'True', 
    'Heritage': 'Black', 
    'Favorite game': 'Pokemon', 
    'Favorite cars': {"Chevy","ford","toyota"}
print(Set1)
#
Fruit_list = ('apples','oranges', 'pineapples') 
Set1.add(Fruit_list)
print ("\n",Set1)
#
Set1.add("Cake")
Set2={"flour", "sugar", "baking powder"} 
#
Set3=Set1.union(Set2)
print("\n",Set3)
#
Set2.pop()
print("\n",Set2)
#
Set1.clear()
print("\n",Set1)
#
Set3.discard("pineapples")
print("\n",Set3)
#
Set3.remove("bacon")
print("\n",Set3)']} 
print("\n",Dictionary2)
#
print("\n",Dictionary2.popitem())
#
Dictionary2.clear()
print("\n",Dictionary2)

IndentationError: unexpected indent (2155691320.py, line 26)

In [32]:
Set1={"bacon", "eggs", "milk"}
print(Set1)
#
Fruit_list = ('apples','oranges', 'pineapples') 
Set1.add(Fruit_list)
print ("\n",Set1)
#
Set1.add("Hyundai")
Set2={"chairs", "windshield", "side mirror"} 
#
Set3=Set1.union(Set2)
print("\n",Set3)
#
Set2.pop()
print("\n",Set2)
#
Set1.clear()
print("\n",Set1)
#
Set3.discard("oranges")
print("\n",Set3)
#
Set3.remove("milk")
print("\n",Set3)

{'eggs', 'bacon', 'milk'}

 {'eggs', 'bacon', ('apples', 'oranges', 'pineapples'), 'milk'}

 {('apples', 'oranges', 'pineapples'), 'milk', 'chairs', 'windshield', 'eggs', 'bacon', 'side mirror', 'Hyundai'}

 {'windshield', 'side mirror'}

 set()

 {('apples', 'oranges', 'pineapples'), 'milk', 'chairs', 'windshield', 'eggs', 'bacon', 'side mirror', 'Hyundai'}

 {('apples', 'oranges', 'pineapples'), 'chairs', 'windshield', 'eggs', 'bacon', 'side mirror', 'Hyundai'}